{% extends 'base.html' %}
{% block content %}

    <h1 class="my-4">Add Record</h1>

    <form action="{% url 'add_record' %}" method="POST">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Your Form Has Errors
            {% for field in form %}
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {{ form.as_p }}
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>


{% endblock %}